<div *ngIf="githubReposData" class="card">
  <div class="card-header bg-secondary text-white">
    <h4>GitHub Repositories</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <div class="table">
        <div class="table-cell">
          <span class="bolder">Project Name</span>
        </div>
        <div class="table-cell text-center">
          <span class="bolder">Total Size <span class="badge badge-success">{{totalSize}}</span></span>
        </div>
        <div class="table-cell text-center">
          <span class="bolder">Total Watches <span class="badge badge-warning">{{totalWatchersCount}}</span></span>
        </div>
      </div>

      <li *ngFor="let repos of githubReposData" class="list-group-item">
        <div class="table">
          <div class="table-cell">
            <span><a [href]="repos.html_url" target="_blank">{{repos?.name}}</a></span>
          </div>
          <div class="table-cell text-center">
            <span class="badge badge-success text-white">{{repos?.size}}</span>
          </div>
          <div class="table-cell text-center">
            <span class="badge badge-warning text-white">{{repos?.watchers_count}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
