<app-github-header></app-github-header>

<!-- spinnner element is defined with id loading -->
<div class="loading">
  <img height="100" width="100" *ngIf="loading" src="assets/spinner.gif" />
</div>


<!--  Github profile search  -->
<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <form class="form-inline">
        <input id="clearInput" type="search" [(ngModel)]="searchQuery" size="40" class="form-control" name="username"
          placeholder="Search GitHub Username" autocomplete="off">
        <button [disabled]="searchQuery.length === 0" class="btn btn-success btn-sm ml-3" type="button" (click)="getUser()">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-3">
  <app-github-profile [githubProfileData]="githubProfileData"></app-github-profile>
</div>

<div class="container mt-3">
  <app-github-repos [githubReposData]="githubReposData"></app-github-repos>
</div>
